@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap');
			
#home {

    position: sticky; top: 0;
    margin-left: 130px;
    width:auto;
    height:50px;
    margin:0px;
    padding:0px;
    background: linear-gradient(green, #55E143);
    height:100px;
    width:100%;

}

#head {
    float: left;
    padding: 5px auto;
}

body {
    
    margin: 0px;
    padding: 0px;
    font-family: 'Spartan', sans-serif;
    
}

#text {

    color:white;
    font-family: 'Spartan', sans-serif;
    margin-top:15px;
    
    
}

#logo {

    width: 80px;
    float: left;
    margin-top:8px;
    margin-left: 30px;
}

.top-menu {
    
    margin-top:0px;
    float: right;
    font-size: 130%;
    height:50px;
    margin-right:50px;
    
}

div ul{
    float: left;
    width: 74%;
    margin-top: 20px;
    
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 70px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: red;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

#body {

    border-bottom: 5px grey solid;

}

#pisey {

    width:270px;

}

#gifs {

    width: 1000px;

}

#dog {

    width: 80px;

}

.arts {
    float: left;
}

.paintings {

    width: 275px;
    float: left;
    margin-right: 40px;
    margin-top: 25px;
    padding: 15px;

}

.links {

    text-decoration: none;
    color: black;
    float:left;
    border: black 3px solid;
    border-radius: 15px;
    padding: 10px;
    margin-left: 15px;

}