@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap');
			
#home {

    position: sticky; top: 0;
    margin-left: 130px;
    width:auto;
    height:50px;
    margin:0px;
    padding:0px;
    background: linear-gradient(green, #55E143);
    height:100px;
    width:100%;

}

#head {
    float: left;
    margin-left:30%;
}

body {
    
    margin: 0px;
    padding: 0px;
    font-family: 'Spartan', sans-serif;
    
}

#text {

    color:white;
    font-family: 'Spartan', sans-serif;
    margin-top:15px;
    
    
}

#logo {
    width: 50px;
    float: left;
    margin-top:8%;
    margin-left: 5%;
}

.top-menu {
    
    margin-top:0px;
    float: right;
    font-size: 130%;
    height:50px;
    margin-right:50px;
    
}

.menu-bar a{

    text-decoration:none;
    color:white;

}

.menu-bar ul {

    list-style-type:none;

}

.menu-bar li{

    background: #55E143;
    width: 170px;
    height:150px;
    margin-top: 35px;
    line-height: 50px;
    font-size: 16px;
    text-transform: uppercase;

}

.menu-bar li{

    display:none;

}

.menu-bar ul:hover > li {

    display:block;

}

#body {

    border-bottom: 5px grey solid;

}

#pisey {

    width:270px;

}

#gifs {

    width: 1000px;

}

#dog {

    width: 80px;

}

.arts {
    float: left;
}

.paintings {

    width: 275px;
    float: left;
    margin-right: 40px;
    margin-top: 25px;
    padding: 15px;

}

.links {

    text-decoration: none;
    color: black;
    float:left;
    border: black 3px solid;
    border-radius: 15px;
    padding: 10px;
    margin-left: 15px;

}
